/**
 * @name vacban.wtf theme
 * @description A vacban discord theme.
 * @author ISOPISO
 * @version 1.0
 * @source https://github.com/ISOPISO/vacban-theme
 * @authorId 721129414364102707
*/

/* IMPORTANT: make sure to enable dark mode in discord settings for the theme to apply properly!! */

@import url('https://isopiso.github.io/vacban-theme/vacban.css');

/* change colors and variables here */
:root {
	/* amount of spacing and padding */
	--spacing: 12px;
	/* radius of round corners */
	--roundness: 16px;

	/* color of links */
	--accent-1: #2daac1;
	/* color of unread dividers and some indicators */
	--accent-2: #b243c8;
	/* color of accented buttons */
	--accent-3: #1e1e2d;
	/* color of accented buttons when hovered */
	--accent-4: hsla(320, 80%, 60%, 0.204);
	/* color of accented buttons when clicked */
	--accent-5: #1c1c1c;

	/* color of green online dot, discord default is #23a55a */
	--online-indicator: #43c852;

	/* color of mentions and messages that mention you */
	--mention: rgba(61, 174, 199, 0.068);
	/* color of mentions and messages that mention you when hovered */
	--mention-hover: rgba(61, 174, 199, 0.068);

	/* color of bright text on colored buttons */
	--text-1: hsl(0, 0%, 100%);
	/* color of headings and important text */
	--text-2: hsl(0, 0%, 100%);
	/* color of normal text */
	--text-3: hsl(0, 0%, 83%);
	/* color of icon buttons and channels */
	--text-4: #cecece;
	/* color of muted channels/chats and timestamps */
	--text-5: #9195fd;

	/* color of dark buttons when clicked */
	--bg-1: #151521;
	/* color of dark buttons */
	--bg-2: #151521;
	/* color of spacing around panels and secondary elements */
	--bg-3: #151521;
	/* main background color */
	--bg-4: #1e1e2d;

	/* color of channels and icon buttons when hovered */
	--hover: hsla(200, 23%, 25%, 0.1);
	/* color of channels and icon buttons when clicked or selected */
	--active: hsla(200, 23%, 25%, 0.1);
	/* color of messages when hovered */
	--message-hover: hsla(220, 0%, 0%, 0.1);
}
